services:
  app-dev:
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./../:/workspace:cached
    command: sleep infinity
    networks:
      - dev_network

networks:
  dev_network:
    name: dev_network
    driver: bridge
